@import 'tailwindcss';

@theme {
  --color-primary: #f22539;
  --color-title: #353535;
  --color-paragraph: #5e5e5e;
  --color-placeholder: #bfbfbf;
  --color-border: #e8e8e8;
  --radius-md: 5px;

  --animate-loader: loader 1s ease-in-out infinite alternate;

  @keyframes loader {
    0% {
      transform: scale(75%) rotate(-360deg);
    }
    100% {
      transform: scale(100%) rotate(360deg);
    }
  }
}

.container {
  @apply w-11/12 max-w-[570px] mx-auto;
}

body {
  @apply bg-[#F9F9F9];
}
